.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  width:90%;
  padding:20px;
}

.slider-img{
  width:400px;
  border-radius:10px;
  margin:5px;
}

.scrolling-wrapper {
  -webkit-overflow-scrolling: Touch;
}

.scrolling-wrapper {
  -webkit-scrollbar 