
	*{
		margin: 0;
		padding: 0;
	}
	body{
		background-color: #000000;
	}
	#time{
		color: white;
		font-family: consolas;
		font-weight: 500;
		margin-top: 20vh;
		font-size: 5vw;

	}
   #label{
		color: white;
		font-size: 7vw;
		font-family: 'Courier New', Courier, monospace;
		font-weight: 400;
  margin-top: 100px;
	}
	p{
		color: white;
		font-size: 3vw;
		font-family: 'Courier New', Courier, monospace;
		font-weight: 400;
	}
	.link {
    display: inline-block;
    color: white;
}

.link:after {
    content: '';
    width: 0px;
    height: 1px;
    display: block;
    background: white;
    transition: 300ms;
}

body a img:hover + .link:after, .link:hover:after {
    width: 100%;
    box-shadow: 2px 2px 8px black;
}

body a {
    text-decoration: none;
    margin: 10px;
}

body a img {
    height: 20px;
    vertical-align: -4px;
    box-shadow: 2px 2px 8px grey;
    border-radius: 5px;
    margin-right: 3px;
}
